*{
    margin:0;
    outline: 1px solid red;
}
.name::first-letter{
    color: #1abc9c;
}

.Name{
    width: 78px;
    height: 21px;
    margin-left: 0px;
    font-size: 30px;
}

.name{
    font-size: 100%;
}

.wrapper{
    width: 1110px;
    margin: auto;
}

li{
    list-style-type: none;
    display: inline-block;
    height: 10px;
    margin-right: 16px;

}

.Menu{
    width: 467px;
    height: 10px;
    float: right;
    font-size: 14px;
    
    
}

.Menu a{
    margin: auto;
    text-decoration: none;
    color: #0f0101;
}

.Menu a:hover{
    color:#1abc9c;
}

.menu{
    widht:100%;
}

.zagolovok1{
    margin: auto;
    font-size: 48px;
    text-align: center;
}

.zagolovok1::after{
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    display: block;
    margin: auto;
    margin-top: 32px;

}



.header{
    margin-bottom: 105px;
}

.box{
    width: 255px;
    height: 322px;
    background-color: #e9f0fd;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-right: 19px;
    
}

img{
    width: 100%;
}

.photo1{
    width: 255px;
}

.imia p, .prise p{
    color: white;
    font-size: 18px;
    display: inline-block;
    text-align: center;
}

.imia{
    height: 40px;
    text-align: center;
    display: inline-block;
    
    
}

.prise{
    background-color: #8c8c8c;
    width: 40px;
    height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 1px;
    
}
.predlogenie{
    background-color: #323232;
    width: 100%;
    line-height: 40px;
    position: absolute;
    bottom: 0;
}
.predlogenie p{
    /* padding-left: 12px; */


}

.vcio{
    margin-top: 92px;
    margin-bottom: 105px;
}

.name_shitrt{
    padding-left: 10px;
    color: white;
}

.name_shitrt:hover{
    background-color: #1abc9c;
}

.prise:hover{
    background-color: #7fd9c7;
}

.zagolovok2{
    margin: auto;
    font-size: 48px;
    text-align: center;
}

.zagolovok2::after{
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    display: block;
    margin: auto;
    margin-top: 32px;

}
.Image{
    width: 350px;
}

.image{
    width: 100%;
}

.newszagolov{
    font-size: 18px;
    text-align: left;
}

.news{
    width: 350px;
    display: inline-block;
    margin-right: 17px;

}

.Newszagolov{
    margin-top: 14px;
    
}

.newszagolov::after{
    content: "";
    width: 136px;
    height: 3px;
    background-color: #1abc9c;
    display: block;
    margin-top: 11px;
    margin-bottom: 29px;
}


.content{
    text-align: left;
    font-size: 14pt;

}

button{
    width: 160px;
    height: 51px;
    background-color: #4ec6ab;
    margin-top: 16px;
}

.button{
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 255);

}


