li{
    list-style-type: none;
    float:left;
    margin-right:20px;
}

a:hover{
    color: rgba(11, 230, 238, 0.897);
    font-style: italic;
}

.menu{
    width:600px;
    margin: auto;
    height: 50px;
}

a{
    text-transform: uppercase;
    text-decoration: none;
}

.nomer2{
    font-style: normal;
    width: 100px;
    height: 100px;
    float: none;
}

.spisok li:nth-child(3n){
    color: #88292F
}


.spisok li:nth-child(3n+1){
    color: #5DB7DE
}


.spisok li:nth-child(3n+2){
    color: #0D5D56
}

.list li::before{
    content: "\2192";
}
.list{
    font-style: normal;
    width: 150px;
    height: 100px;
    float: none;    
}
.list li::after{
    content: "\2615";
}

.zadan4{
    font-style: normal;
    width: 140px;
    height: 100px;
    float: none;
}

.zadan4 li:nth-child(1):before{
    content: "\2160 ";
    margin-right: 10px; 
    width: 15px;
    height: 15px;
    border: 2px solid red;
    background-color: #5DB7DE;
    display: inline-block;
    text-align: center;
}

.zadan4 li:nth-child(2):before{
    content: "\2161 ";
    margin-right: 10px; 
    width: 15px;
    height: 15px;
    border: 2px solid red;
    background-color: #5DB7DE;
    display: inline-block;
    text-align: center;
}

.zadan4 li:nth-child(3):before{
    content: "\2162 ";
    margin-right: 10px; 
    width: 15px;
    height: 15px;
    border: 2px solid red;
    background-color: #5DB7DE;
    display: inline-block;
    text-align: center;

}

.zadan4 li:nth-child(4):before{
    content: "\2163 ";
    margin-right: 10px; 
    width: 15px;
    height: 15px;
    border: 2px solid red;
    background-color: #5DB7DE;
    display: inline-block;
    text-align: center;

}

.zadan4 li:nth-child(5):before{
    content: "\2164 ";
    margin-right: 11px; 
    width: 15px;
    height: 15px;
    border: 2px solid red;
    background-color: #5DB7DE;
    display: inline-block;
    text-align: center;

}
.zadan4 li:nth-child(1):hover::before{
    width: 30px;
    color:red;
    height: 30px;
    text-align: center;
    display: none;
}



.zadan4 li:nth-child(1)::after{
    content: "\2160";
    margin-right: 10px; 
    width: 15px;
    height: 15px;
    border: 2px solid red;
    background-color: #5DB7DE;
    display: none;
    text-align: center;
}
.zadan4 li:nth-child(1):hover::after{
    width: 30px;
    color:red;
    height: 30px;
    text-align: center;
    display: inline-block;
}

