*{
    margin: 0;
    box-sizing: border-box;
}

.rgb{
    background-color: rgba(0,0,0,0.8);
    width: 400px;
    height: 200px;
    margin: auto;
}

.rgbtext{
    font-size: 30px;
    color: rgb(255,255,255);
    text-align: center;
}

.main{
    background: radial-gradient(circle at center, rgb(214, 22, 22), rgb(208, 221, 25))
}